* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #2237c3;
  background: linear-gradient(
    72deg,
    rgba(34, 55, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: aliceblue;
  font-size: 16px;
}

.container {
  min-width: none;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 20px;
  font-family: "Space Mono", monospace;
  background: linear-gradient(
    72deg,
    rgb(197, 163, 89) 0%,
    rgba(34, 55, 195, 1) 100%
  );
}

.input {
  width: 530px;
  display: flex;
  justify-content: space-between;
}

#inputEl {
  width: 400px;
  height: 50px;
  padding: 10px 15px;
  font-size: 1.5rem;
  background-color: rgb(15, 72, 72);
  color: white;
  border: 2px solid black;
  border-radius: 10px;
  font-family: "Space Mono", monospace;
}

#button {
  height: 50px;
  padding: 10px;
  font-size: 1.2rem;
  background-color: rgb(3, 31, 31);
  color: white;
  border: 2px solid black;
  border-radius: 10px;
  font-family: "Space Mono", monospace;
}

#button:hover {
  background-color: rgb(15, 72, 72);
}

.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
}

@media screen and (max-width: 570px) {
  .input {
    width: 100%;
    max-width: 530px;
  }
  .container {
    margin: 0 10px;
  }

  #inputEl {
    width: 100%;
    max-width: 400px;
  }

  .data {
    font-size: 0.8rem;
  }
}
